@font-face {
	font-family: 'ClashDisplay';
	src: url(font/ClashDisplay-Medium.ttf) format("opentype");
	font-weight: 500;
}
@font-face {
	font-family: "Satoshi";
	src: url(font/Satoshi-Medium.ttf) format("opentype");
	font-weight: 500;
}
@font-face {
	font-family: "Satoshi";
	src: url(font/Satoshi-Light.ttf) format("opentype");
	font-weight: 300;
}


@import url('https://fonts.googleapis.com/css2?family=Courier+Prime&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300&display=swap');


main{
	color: #232426;
	padding: 56px 144px 116px 144px;
}
.gray {
	background-color: #f7f9fa;
}

header{
	background-color: #f7f9fa;
	width: 100%;
	height: 48px;
	font: 14px 'Courier Prime', monospace;
	text-transform: capitalize;
	line-height: 48px;
	color: #232426;
	border-bottom: solid #232426 1px;
	padding-left: 144px;
	padding-right: 1fr;
	position: fixed;
	z-index: 2;
	min-width: 1000px;
}

.menu{
	border-right: #232426 solid 1px;
	padding: 0px 12px 0px 20px;
}


#grid1{
	display: grid;
	max-width: 1145px;
	min-width: 975px;
	grid-template-columns: 25% 25% 25% 25% ;
}
#grid2{
	display: grid;
	max-width: 1145px;
	min-width: 975px;
	grid-template-columns: 30% 70%;
}

article{
	max-width: 800px;
}

article:first-child {
	position: relative;
	top: 64px;
	width: 100%;
	z-index: 1;
}
article:nth-child(3) {
	position: relative;
	top: -66px;
	width: 100%;
}

h1{
	color: #141BFF;
	font-size: 200px;
	font-family: "ClashDisplay", sans-serif;
	font-weight: 500;
	text-transform: uppercase;
	line-height: 180px;
	word-wrap: break-word;
	padding: 24px 0px 24px 0px;
	min-width: 400px;
	max-width: 800px;
}

h2{
	font-size: 24px;
	font-family: "Satoshi", sans-serif;
	font-weight: 500;
	text-transform: uppercase;
	word-wrap: break-word;
	min-width: 400px;
}

p{
	font-size: 18px;
	font-family: 'Noto Sans', sans-serif; ;
	font-weight: 300;
	word-wrap: break-word;
	line-height: 160%;
	min-width: 400px;
	max-width: 65ch;
	padding-bottom: 20px;
}


.paragraph{
	padding-left: 100px;
}

blockquote{
	color: fuchsia;
	font-size: 32px;
	font-family: 'Courier Prime', monospace;
	margin: 88px 0px 88px 0px;
	line-height: 150%;
}

.indent1{
	margin-left:240px;
}
.indent2{
	margin-left:560px;
}

.typing-text{
	border-right: 2px solid fuchsia;
	animation: blink .8s infinite, typing 2s steps(24);
	white-space: nowrap;
	overflow: hidden;
	width: fit-content;
	padding-bottom: 16px;
}


@keyframes blink {
	50%{
		border-color: transparent;
	}
}

@keyframes typing{
	from{
		width: 0;
	}
	to{
		width: 466px;
	}
}

.smallinfo{
	font-style: normal;
	font-family: "Satoshi", sans-serif;
	font-weight: 300;
	font-size: 16px;
	text-transform:uppercase;
	line-height: 120%;
}


p.smallinfo{
	font-size: 20px;
	max-width: 100%;
	/* border: green solid 2px; */
}

a[href^='https://']::after { content: '↗'; }
a:visited { color: #757980; }
a:hover { color: royalblue; }
a:active { color: #232426; }


.allign-right{
	text-align: right;
}
.allign-left{
	text-align: left;
}

.text-striped{
	background: linear-gradient(#141BFF, #141BFF 50%, transparent 50%, transparent);
	background-size: 100% 10px;
	background-clip: text;
	-webkit-background-clip: text;
	color: transparent;
}


#box{
	background-color: white;
	font-family: 'Noto Sans', sans-serif; ;
	font-weight: 300;
	margin: 0;
	padding: 116px 144px 116px 144px;
	min-width: 400px;
}



